<!DOCTYPE html>
<html lang="en">

<head>
    <title>Trial</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="js/games.js"></script>
    <link rel="stylesheet" type="text/css" href="css/games.css">
</head>

<body>
    <ul>
        <a href="/"><li><</li></a>
        <li><img src="images/rps.png"></li>
        <li id="text">rock paper scissors</li>
    </ul>

    <div class="container">
        <div class="grid-container">
            <div class="grid-item-text">player 1</div>
            <div class="grid-item"></div>
            <div class="grid-item-text">com</div>
            <div class="grid-item" id="batu"><img src="images/batu.png"></div>
            <div class="grid-item"></div>
            <div class="grid-item" id="0"><img src="images/batu.png"></div>
            <div class="grid-item" id="kertas"><img src="images/kertas.png"></div>
            <div class="grid-item" id="vs">vs</div>
            <div class="grid-item" id="1"><img src="images/kertas.png"></div>
            <div class="grid-item" id="gunting"><img src="images/gunting.png"></div>
            <div class="grid-item"></div>
            <div class="grid-item" id="2"><img src="images/gunting.png"></div>
            <div class="grid-item"></div>
            <div class="grid-item" id="refresh"><a href="/games"><img src="images/refresh.png"></a></div>
        </div>

        <div class="result">
            <p id="result"></p>
        </div>

    </div>
</body>